*{
    padding:0;
    margin:0
}
header{
    padding: 15px;
    background-color: darkgrey;
    margin-bottom: 10px;
    place-content: center;
    text-align: center;
    width: 97.6%;
}
footer{
    text-align: center;
    bottom:0;
    margin-top: 2cm;
    padding: 15px;
    background-color: darkgray;
    width: 97.6%;
}
.allstudents{
    text-align: right;
    margin-right: 2cm;
    margin-top: 1.2cm;
    
}
.allstudents h2{
    text-align: left;
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
     'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     margin-left: 0.4cm;
}
.allstudents table{
        width: 100%;
        table-layout: fixed; 
        border-collapse: collapse;
        margin-left: 0.4cm;
}
.allstudents th{
   border-collapse: collapse;
  width: 10.1cm; /* Divide the width equally among columns */
  padding: 10px;
  border: 2px solid #0c0c0c;
  text-align: left;
}
.allstudents td{
    border-collapse: collapse;
    padding: 10px;
    border: 2px solid #0b0a0a;
    text-align: left;
}
.addstudent {
    position: relative;
    top: 30px;
}
.searchbox{
  margin: 0px 0px 0px 20px;
  border: solid black 1px;
  width: 95%;
  
}
.searchbox input ,p{
    padding:5px;
    width:4.9cm;
    margin: 4px;
}
input{
    display: flex;
}
.addstudent{
    position: relative;
    bottom: 4.5cm;
    border: solid black 1px;
    width: 95.4%;
    margin-left: 0.5cm;
}
.addstudent input{
padding:5px;
width: 4.9cm;
margin-bottom: 4px;
}
.addstudent button{
    width: 5.3cm;
}
.SearchedValues{
    position: relative;
    top: 1cm;
    left: 0.4cm;
}
.SearchedValues table{
    width: 96%;
    table-layout: fixed; 
    border-collapse: collapse;
    
}
.SearchedValues th{
    border-collapse: collapse;
  width: 7cm; /* Divide the width equally among columns */
  padding: 10px;
  border: 2px solid #0c0c0c;
  text-align: left;
 }
 .SearchedValues td{
     border-collapse: collapse;
     padding: 10px;
     border: 2px solid #0b0a0a;
     text-align: left;
 }
 .SearchedValues {
   position: relative;
   bottom: 3cm;
 }
 .deleteAllRecords{
    width: 5.3cm;
    margin: 5px 0px 0px 0px; 
 }
 .editstu input{ 
padding:5px;
width: 4.9cm;
margin-bottom: 4px;
margin: 2px;

 }
 .editstu button{
    width: 5.3cm;
    margin-bottom: cm;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 2px;
 }
 .editstu{
    border: 1px  solid black;
    margin-left: 0.5cm;
    margin-right :1cm;
    position: relative;
    bottom: 1cm;
    top: 1cm;
 }

