* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .loginform {
    border: 3px solid black;
    width: 300px;
    padding: 20px;
    background-color: darkgray;
    color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 5cm;
    margin-left: 13cm;
  }
  
  .loginform input {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid lightgray;
    border-radius: 4px;
    background-color: rgb(246, 239, 239);
    color: rgb(25, 24, 24);
  }
  
  .loginform input:focus {
    outline: none;
    border-color: dodgerblue;
  }
  
  .loginform button {
    width: 100%;
    padding: 12px;
    background-color: blue;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: mediumblue;
  }
  
  button:focus {
    outline: none;
  }
  